<div class="animated fadeIn">
    <div class="widget-header" style="margin-top: 0.1em;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12"><i class="fa fa-list" aria-hidden="true"></i>
                <h3> Master Log </h3>
            </div>
        </div>
    </div> <!-- /widget-header -->

    <div class="widget-content table-responsive">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 report-select" >
                <select class="select2-style" id="selectupdateChoice"  ng-model="tyreUpdateChoice">
                  <option value="U"> Tyre Assignment Log </option>
                  <option value="R"> Tyre Removal Log </option>
                </select>
            </div>
      
            <!-- from date -->
            <div class="col-md-3 col-sm-6 col-xs-12 input-group report-select masterlog-date">
                <input class="form-control date_text" type="text" id="masterLogStartTime" placeholder="Start DateTime">
                <div class="datepicker-masterLog" style="cursor: pointer;" onclick="$('#masterLogStartTime').focus();">
                    <i class="fa fa-calendar" style="cursor: pointer"></i>
                </div>
            </div>
            <!-- to date -->
            <div class="col-md-3 col-sm-6 col-xs-12 input-group report-select masterlog-date">
                <input class="form-control date_text" id="masterLogEndTime" type="text" placeholder="End DateTime">
                <div class="datepicker-masterLog" style="cursor: pointer;" onclick="$('#masterLogEndTime').focus();">
                    <i class="fa fa-calendar" style="cursor: pointer"></i>
                </div>
            </div>
      
            <!-- buttons -->
            <div class="col-md-3 col-sm-6 col-xs-12 report-select">
                <button type="button" class="btn btn-info btn-sx" data-dismiss="modal" ng-click="getUpdateRemoveMasterLog();">
                    <span class="fa fa-search" > Get Log </span>
                </button>
            </div>
        </div>
    </div>

    <div class="widget-content table-responsive">
        <form>
            <div class="form-group row ">
                <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" placeholder= "Search" class="form-control" ng-model="searchStringForSensors" ng-change = "searchSensors()">
                    </div>
                </div> -->
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <label>Updated DateTime : </label>  <span id="uploadDateTime"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" >
                    <label>System IP Address : </label>  <span id="uploadSystemIP"></span>
                </div>
            </div>
        </form>
        
        <!-- Master Log Table for Tyre Update -->
        <div id="masterLog-UpdateId">
            <table class="table table-fixed table-bordered table-hover" id="tyreMasterUpdateId">
                <thead>
                    <tr class="tablehead">
        		<th class="tableHead-center" >
        		    <a href="#" > # </a>
        		</th>
        		<th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'busNumber'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Vehicle
                                <span ng-show="sortType == 'busNumber' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'busNumber' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tyreNumber'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tyre Number
                                <span ng-show="sortType == 'tyreNumber' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tyreNumber' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'position'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Position
                                <span ng-show="sortType == 'position' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'position' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'rimNumber'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                RIM No
                                <span ng-show="sortType == 'rimNumber' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'rimNumber' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'sensor'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Sensor UID
                                <span ng-show="sortType == 'sensor' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'sensor' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'fitmentDate'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Date of Fitment
                                <span ng-show="sortType == 'fitmentDate' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'fitmentDate' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'fitmentkm'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Fitment KM
                                <span ng-show="sortType == 'fitmentkm' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'fitmentkm' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
        		</th>
                        <th class="tableHead-center" >
                            <a href="#">
                                Remark
                            </a>
        		</th>
                         <th class="tableHead-center" >
                            <a href="#">
                                Error
                            </a>
        		</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="updateObj in masterUpdateLogData | orderBy:sortType:tmsTyre_sortReverse">
                        <td class="tableData-right tablebody-td">{{$index + 1 }}</td>
                        <td class="tablebody-td">{{ updateObj.busNumber }} </td>
                        <td class="tablebody-td">{{ updateObj.tyreNumber }} </td>
                        <td class="tablebody-td">{{ updateObj.position }} </td>
                        <td class="tablebody-td">{{ updateObj.rimNumber }} </td>
                        <td class="tablebody-td">{{ updateObj.sensorUID }} </td>
                        <td class="tablebody-td">{{ updateObj.dateOfFitment }} </td>
                        <td class="tablebody-td">{{ updateObj.fitmentKM }} </td>
                        <td class="tablebody-td">{{ updateObj.remark }} </td>
                        <td class="tablebody-td">{{ updateObj.error }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Master Log Table for Tyre Removal -->
        <div id="masterLog-RemoveId" style="overflow-x:auto;">
            <table class="table table-fixed table-bordered table-hover" id="tyreRemoveMasterLogId">
                <thead>
                    <tr class="tablehead">
                        <th class="tableHead-center" >
                            <a href="#" > # </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'busNumber'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Vehicle
                                <span ng-show="sortType == 'busNumber' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'busNumber' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tyreNumber'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tyre Number
                                <span ng-show="sortType == 'tyreNumber' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tyreNumber' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'position'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Position
                                <span ng-show="sortType == 'position' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'position' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'status'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Status
                                <span ng-show="sortType == 'status' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'status' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'removeDate'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Removal Date
                                <span ng-show="sortType == 'removeDate' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'removeDate' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'removekm'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Removal KM
                                <span ng-show="sortType == 'removekm' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'removekm' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#">
                                Reason
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#">
                                Action Taken
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tyreCndn'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tyre Condition
                                <span ng-show="sortType == 'tyreCndn' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tyreCndn' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'scrap'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Scrapped to Party
                                <span ng-show="sortType == 'scrap' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'scrap' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tdepth1'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tread Depth – Location 1
                                <span ng-show="sortType == 'tdepth1' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tdepth1' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tdepth2'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tread Depth – Location 2
                                <span ng-show="sortType == 'tdepth2' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tdepth2' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'tdepth3'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tread Depth – Location 3
                                <span ng-show="sortType == 'tdepth3' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tdepth3' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#" ng-click="sortType = 'pressure'; tmsTyre_sortReverse = !tmsTyre_sortReverse">
                                Tyre Pressure(psi)
                                <span ng-show="sortType == 'pressure' && !tmsTyre_sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'pressure' && tmsTyre_sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#">
                                Remark
                            </a>
                        </th>
                        <th class="tableHead-center" >
                            <a href="#">
                                Error
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tms_removeLog in masterRemoveLogData">
                        <td class="tableData-right tablebody-td">{{$index + 1 }}</td>
                        <td class="tablebody-td">{{ tms_removeLog.busNumber }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.tyreNumber }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.position }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.status }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.removalDate }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.removalKM }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.reasonForRemoval }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.actionTaken }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.tyreCondition }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.scrappedToParty }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.threadDepthLocation1 }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.threadDepthLocation2 }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.threadDepthLocation3 }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.tyrePSI }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.remark }} </td>
                        <td class="tablebody-td">{{ tms_removeLog.error }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
<!--        <uib-pagination total-items="totalItems_sensor" ng-model="currentPage_sensor"
          items-per-page="itemsPerPage_sensor" max-size="maxSize_sensor" ng-change="pageChanged_sensor()"
            boundary-link-numbers="true" rotate="true" boundary-links="true">
        </uib-pagination>-->
    </div>
</div>

      
<script>
  $(document).ready(function(){
      
    $('#masterLog-UpdateId').show();
    $('#masterLog-RemoveId').hide();

    $('#masterLogStartTime').datetimepicker({
        format: 'd-m-Y',
        onShow: function (ct) {
            if ($('#masterLogStartTime').hasClass('error'))
            $('#masterLogStartTime').removeClass('error');
//            this.setOptions({
//                maxDate: $('#masterLogEndTime').val() ? $('#masterLogEndTime').val() : false,
//                formatDate: 'd-m-Y'
//            });
        },
        onChangeDateTime: function (ct) {
            $('#masterLogEndTime').datetimepicker({value: moment(ct).format("DD-MM-YYYY"), minDate: ct});//, maxDate: moment(ct).add(5, "days")});
        },
        maxDate: moment().format('DD-MM-YYYY'),
       // defaultTime: '00:00',
        timepicker: true,
        value: moment().format("DD-MM-YYYY")
    });
    
    $('#masterLogEndTime').datetimepicker({
        format: 'd-m-Y',
        onShow: function (ct) {
            if ($('#masterLogEndTime').hasClass('error'))
            $('#masterLogEndTime').removeClass('error');
            this.setOptions({
                maxDate: $('#masterLogStartTime').val() ? (moment($('#masterLogStartTime').val(), 'DD-MM-YYYY').add(0, 'days')).format('DD-MM-YYYY') : false,
                formatDate: 'd-m-Y'
            });
        },
        onChangeDateTime: function () {
            if ($('#showReportBtn').attr('disabled') == 'disabled')
            $('#showReportBtn').attr('disabled', false);
        },
        minDate: moment().format('DD-MM-YYYY'),
        maxDate: moment().format('DD-MM-YYYY'),
        //  defaultTime: '23:59',
        timepicker: true,
        value: moment().format("DD-MM-YYYY")
    });
    
    $('#selectupdateChoice').on("select2:select", function (e) {
        var selectVal = $('#selectupdateChoice').val();
        if(selectVal == 'U') {
            $('#masterLog-UpdateId').show();
            $('#masterLog-RemoveId').hide();
        } else if(selectVal == 'R') {
            $('#masterLog-UpdateId').hide();
            $('#masterLog-RemoveId').show();
        }
    }).trigger('change');
    
});
</script>
